@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card {
    color: #4F595C;
    width: 30%;
    height: max-content;
    display: inline-block;
    margin: 10px;
}

.cardInfo {
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 500ms;
    padding-bottom: 40px;
}

.cardInfo:hover {
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

.title {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: box-shadow 500ms;
    background: rgba(255, 255, 255, 0.60);
    border: none;
    border-radius: 30px 30px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

.title:hover {
    white-space: unset;
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

.descriptionDiv {
    height: 200px;
    overflow-y: scroll;
}

.categoryContainer {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.category {
    width: max-content;
    margin: 5px;
    background: white;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    padding: 5px;
    border-radius: 10px;
    border: none;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.favicon {
    width: 64px;
    height: 64px;
    margin: auto;
    position: relative;
    bottom: 30px;
    display: flex;
    background: none;
    cursor: pointer;
}


.blogCard {
    color: #E7ECF3;
    width: 30%;
    height: max-content;
    display: inline-block;
    margin: 10px;
    margin-bottom: 40px;
}

.blogCardInfo {
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 500ms;
    padding-bottom: 40px;
}

.blogCardInfo:hover {
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

.blogTitle {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: box-shadow 500ms;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    background: rgba(0, 0, 0, 0.60);
    border: none;
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.blogTitle:hover {
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%);
    white-space: unset;
}

.blogCardDate {
    color: rgb(209, 207, 207);
    background-color: rgba(0, 0, 0, 0.60);
    border: none;
    border-radius: 6px;
    width: max-content;
    font-size: 1vw;
    margin: 10px 0 10px 5px;
    padding: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 500ms;
}

.blogCardDate:hover {
    box-shadow: 4px 15px 15px rgba(0, 0, 0, 0.25);
}

.content {
    height: 200px;
    overflow-y: scroll;
    transition: height 500ms;
}

.content:hover {
    height: max-content;
    overflow-y: scroll;
}

.content>h1 {
    color: #E7ECF3;
    font-size: 1vw;
}

.content>h2 {
    font-size: 0.8vw;
}

.content>h3 {
    font-size: 0.5vw;
}

@media (max-width: 1024px) {
    .card {
        display: block;
        margin: auto;
        width: 90%;
    }

    .blogCard {
        display: block;
        margin: 30px auto;
        width: 90%;
        margin-bottom: 20px;
    }

    .blogCard:last-of-type {
        margin-bottom: 180px;
    }

    .title {
        font-size: 5vw;
    }
    .blogTitle {
        font-size: 5vw;
    }

    .content>h1 {
        color: #E7ECF3;
        font-size: 4vw;
    }
    
    .content>h2 {
        font-size: 3vw;
    }
    
    .content>h3 {
        font-size: 2vw;
    }
}