html,
html,
body {
  height: 100%;
  scrollbar-color: #D1E7E7  #E6FFFF;
  scrollbar-darkshadow-color: #E6FFFF;
  scrollbar-arrow-color:#123639;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e7ecf3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23123639' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: black
}

body:hover {
  scrollbar-color: #bed1d1 #E6FFFF;
}

body:active {
  scrollbar-color: #A4B5B5 #E6FFFF;
}

h1 {
  font-size: 64px;
  width: max-content;
  margin: auto;
  color: black;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  width: max-content;
  margin: auto;
  color: black;
}

#log {
  width: 75%;
  margin: auto;
  display: flex
}

#log>p>img {
  width: 75%;
  margin: auto;
  display: flex;
}

#log>h1 {
  font-size: 64px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#log>h3 {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#log>p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* #log>pre {
  width: inherit;
  overflow-x: scroll;
  margin: auto;
  display: flex;
}

#log>pre>code {
  width: inherit;
  font-family: monospace;
  color: white;
}


pre {
  background-color:#123639;
} */

.hljs {
  border: none;
  border-radius: 4px;
  overflow-x: hidden;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  /* box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow); */
}

.hljs:hover, .hljs:active {
  box-shadow: 4px 4px 4px rgba(0,0,0,.25);
  overflow-x: scroll;
}

.error404Container {
  background: white;
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  transition: box-shadow 500ms;
}

.error404Container:hover {
  box-shadow: 4px 15px 15px rgba(0, 0, 0, 0.25);
}

.error404Label {
  font-size: 4vw;
  background: linear-gradient(90deg,#92A4A9,#0C2325 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: auto 20px;
}

.homeContainer {
  width: max-content;
  background: white;
  border: none;
  border-radius: 12px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeContainer:hover {
  box-shadow: 4px 15px 15px rgba(0, 0, 0, 0.25);
}

.home {
  width: 32px;
  height: 32px;
  color: #92A4A9;
}

.home:hover {
  color: #7a888b;
}

.home:active {
  color: #606b6d;
}

::-webkit-scrollbar {
  background-color: #E6FFFF;
}



::-webkit-scrollbar-thumb {
  background-color: #D1E7E7;
  border: none;
  border-radius: 12px;
  box-shadow: 0 25.6px 57.6px  rgba(.22, 22, 22, .22) inset, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bed1d1;
}

::-webkit-scrollbar-thumb:active {
  background-color: #A4B5B5;
}

::-webkit-scrollbar-button {
  background-color:#123639;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
    width: max-content;
    margin: auto;
    color: black;
  }

  h3 {
    font-weight: lighter;
    margin-bottom: 10px
  }
}