.myContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: max-content;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  height: 50%;
  margin: auto;
  border-radius: 300px 360px 360px 300px;
  padding: 0 10px 0 0;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  transition: box-shadow 500ms;
  appearance: none;
}

.myContainer:hover {
  box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

.myPic {
  width: 30%;
  height: 30%;
  border-radius: 30px;
  vertical-align: middle;
  margin: auto;
  margin-left: 0;
}

.myInfo {
  vertical-align: middle;
  margin: auto;
  margin-left: 15px;
  width: -webkit-fill-available;
  background: -webkit-linear-gradient(90deg,#92A4A9,#0C2325 90%);
  background: linear-gradient(90deg,#92A4A9,#0C2325 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  appearance: none;
}

.myInfo>h1 {
  font-size: 4vw;
}

.myInfo>h3 {
  font-size: 2vw;
}

.myInfoApple {
  vertical-align: middle;
  margin: auto;
  margin-left: 15px;
  width: -webkit-fill-available;
  color: #0C2325;
}

.myInfoApple>h1 {
  font-size: 4vw;
}

.myInfoApple>h3 {
  font-size: 2vw;
}

.sectionDiv {
  background: white;
  width: max-content;
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  transition: box-shadow 500ms;
}

.sectionDiv:hover {
  box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

.sectionLabel {
  font-size: 4vw;
  background: linear-gradient(90deg,#92A4A9,#0C2325 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: auto 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.skillContainer {
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background: white;
  position: fixed;
  bottom: 0;
}

.skill {
  width: max-content;
  margin: 5px;
  background: white;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  padding: 10px;
  border-radius: 10px;
  border: none;
  white-space:nowrap;
  text-overflow: ellipsis;
}

/* .agithub {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 60px;
  right: 0;
  background: white;
  border: none;
  border-radius: 360px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  transition: box-shadow 500ms;
  padding: 10px;
} */

/* .agithub:hover {
  box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
} */

.infoBar {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  position: fixed;
  right: 0;
  margin: auto;
  width: max-content;
  height: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  max-width: -webkit-fill-available;
  overflow-x: hidden;
  z-index: 8;
  align-items: center;
}

.infoBar:hover {
  overflow-x: scroll;
}

.infoBar:active {
  overflow-x: scroll;
}

.infoBar>a {
  margin: auto 5px;
  vertical-align: middle;
}

.infoBar>a>img {
  padding: 0;
  width: 64px;
  height: 64px;
}

.info>a>img:hover {
  background: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .infoBarImage {
  transition: border-bottom 250ms, box-shadow 125ms;
}


.infoBarImage:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 20px;
}

.infoBarImage:active {
  box-shadow: none;
  border-bottom: 6px solid #03ac97;
  border-radius: 20px;
} */

.link {
  text-decoration: none;
}

.infoBarDiv {
  transition: border-bottom 250ms, box-shadow 125ms;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  text-decoration: none;
}


.infoBarDiv:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
}

.infoBarDiv:active {
  box-shadow: none;
  border-bottom: 6px solid #03ac97;
  border-radius: 20px;
}

.infoBarDiv>svg {
  margin: 10px auto;
}

.infoBarDiv>label {
  margin: auto;
  font-size: 75%;
  color: #00a896;
  text-shadow: 1px 1px 20px rgb(0 0 0 / 25%);
}


.github {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1024px){
  .infoBar {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    position: fixed;
    top: auto;
    bottom: 70px;
    right: 0;
    height: auto;
    width: max-content;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    width: -webkit-fill-available;
    overflow-x: hidden;
  }

  .infoBar>a {
    margin: auto;
  }
}