@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#project {
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 500ms;
    padding-bottom: 40px;
    z-index: 0;
    width: 90%;
}

#article {
    border: none;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 500ms;
    padding-bottom: 40px;
    z-index: 0;
    width: 90%;
}

#showcase {
    display: block;
    margin-left: 0;
    padding: 0 15px;
    overflow: hidden;
    margin: auto;
    position: relative;
    box-shadow: none;
    width: 360px;
}

#projectBar {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    height: -webkit-fill-available;
    height: -moz-available;
    width: max-content;
    padding: 15px;
    border: none;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    position: fixed;
    right: 0;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    z-index: 1;
}

#projectBar>a>svg:hover {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.25);
}

#projectBar>a>svg:active {
    box-shadow: none;
    border-bottom: 6px solid #03ac97;
}

/* #title {
    color: white;
    font-size: 36px;
    margin-right: 20px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    border: none;
} */

#title {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: box-shadow 500ms;
    background: rgba(255, 255, 255, 0.60);
    border: none;
    border-radius: 30px 30px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    color: #4F595C;
}

#title:hover {
    white-space: unset;
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

#blogTitle {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: box-shadow 500ms;
    background: rgba(0, 0, 0, 0.60);
    border: none;
    border-radius: 30px 30px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    color: #E7ECF3;
}

#blogTitle:hover {
    white-space: unset;
    box-shadow: 4px 15px 15px rgb(0 0 0 / 25%)
}

#github {
    height: 50px;
    vertical-align: middle;
    box-shadow: none;
    background-color: none;
    margin: auto;
}

#home {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    box-shadow: none;
    background-color: none;
    margin: auto;
}

#url {
    height: 50px;
    vertical-align: middle;
    box-shadow: none;
    background-color: none;
    margin: auto;
}

.link {
    color: #123639;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
}

.link:hover {
    color:#0c2325;
}

.link:active {
    color:#071516
}

#wrapper {
    margin-bottom: 20px;
    opacity: 0.6;
}

#description {
    background-color: rgba(162, 179, 179, 0.3);
    text-align: center;
    margin: auto;
    justify-self: center;
    font-size: 20px;
    width: 75%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 12px;
}

#imageList {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.gallery {
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit:scale-down;
}

#logButton {
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: lightseagreen;
    padding: 10px;
    color: black;
    margin: auto;
    justify-self: center;
    display: flex;
}

#log {
    width: 100%;
    margin: auto;
}

#log>p {
    text-align: center;
    font-weight:500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#log>p>img {
    width: 75%;
    margin: auto;
    display: flex;
}

#log>h1 {
    margin: 10px auto 10px auto;
    max-width: 100%;
    width: max-content;
    font-size: 100%;
    text-align: left;
    background: rgba(255, 255, 255, 0.60);
    color: #123639;
    padding: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

#log>h2 {
    margin: 10px auto 10px auto;
    max-width: 100%;
    width: max-content;
    font-size: 90%;
    text-align: left;
    background: rgba(255, 255, 255, 0.60);
    color: #123639;
    padding: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

#log>h3 {
    margin: 10px auto 10px auto;
    max-width: 100%;
    width: max-content;
    font-size: 80%;
    text-align: left;
    background: rgba(255, 255, 255, 0.60);
    color: #123639;
    padding: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

.blogCardDate {
    color: rgb(209, 207, 207);
    background-color: rgba(0, 0, 0, 0.60);
    border: none;
    border-radius: 6px;
    width: max-content;
    font-size: 1vw;
    margin: 10px 0 10px 5px;
    padding: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 500ms;
}

/*   #log>pre {
    width: inherit;
    overflow-x: scroll;
  }
  
  #log>pre>code {
    width: inherit;
    font-family: monospace;
    color: orange;
  } */


/*   pre {
    background-color:#F9F8C1;
  } */

  @media (max-width: 1024px){
    .gallery {
        display: inline-block;
        margin: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 75%
    }

    #projectBar {
        position:fixed;
        bottom: 0;
        top:auto;
        right:auto;
        width: 100%;
        width: -webkit-fill-available;
        flex-direction: row;
        margin: 0;
        margin-top: 40px;
        height: max-content;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #projectBar:hover {
        box-shadow: 4px 15px 15px rgba(0, 0, 0, 0.25);
    }

    .link {
        color: #123639;
        margin: auto;
    }

    #project {
        margin: auto;
        margin-bottom: 80px;
    }

    #article {
        margin: auto;
        margin-bottom: 80px;
    }

    #title {
        font-size: 5vw;
    }

    #blogTitle {
        font-size: 5vw;
    }
  }